<form method="post">
    {% csrf_token %}
    <h1>Reservar en {{ restaurante.restaurante }}</h1>
    
    <div class="form-group">
        <label>Nombre completo:
            <input type="text" name="nombre_cliente" required>
        </label>
    </div>
    
    <div class="form-group">
        <label>Fecha:
            <input type="date" name="fecha" required>
        </label>
    </div>
    
    <div class="form-group">
        <label>Hora:
            <input type="time" name="hora" required>
        </label>
    </div>
    
    {% if error %}<div class="error">{{ error }}</div>{% endif %}
    <button type="submit">Reservar</button>
</form>