<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seleccionar Restaurante</title>
</head>
<body>
    <h1>Selecciona tu Restaurante</h1>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for restaurante in restaurantes %}
                <li>
                    <input type="radio" name="restaurante_id" value="{{ restaurante.id_str }}">
                    {{ restaurante.restaurante }} - {{ restaurante.direccion }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Continuar</button>
    </form>
    <a href="{% url 'home' %}">Volver al inicio</a>
</body>
</html>
